*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #121214;
}

body::-webkit-scrollbar-thumb {
  background-color: #7171c3;
  border-radius: 20px;
  border: 3px solid #7171c3;
}
